body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  height: 100%;
  width: 100%;
}

i {
  font-size: larger;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
/* main content */
.description {
  white-space: pre-wrap;
}

.time-block {
  padding-top: 25%;
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}
/* Timeblock on the left */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}
#timeBlock {
  padding-right: 0;
}
#save-div {
  padding-left: 0;
}
/* color indication */
.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}
/* save button on the right */
#Btn-div {
display: flex;
justify-content: space-evenly;
background-color: #06aed5;
border-left: 1px solid black;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
}
.Btn {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  /* height: 100%;
  width: 100%; */
}
.Btn i:hover {
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}
.Btn:focus {
  outline: none;
  border: none;
}
.Btn:active {
  outline: none;
  border: none;
}